<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Project_Final_Semester__NT106_.Properties.Settings.CHConnectionString"
            connectionString="Data Source=LAPTOP-NHNMFFBB;Initial Catalog=CH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Project_Final_Semester__NT106_.Properties.Settings.CAUHOIDAConnectionString"
            connectionString="Data Source=LAPTOP-NHNMFFBB;Initial Catalog=CAUHOIDA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>